<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  
  
  <appSettings>
    <add key="nhibernate-logger" value="YouVote.Common.NLogFactory, YouVote.Common" />

    <add key="hashAlgorithm" value="SHA1" />
    <add key="passwordLength" value="8" />
    <add key="passwordChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789" />

    <add key="smtpLogin" value="" />
    <add key="smtpPassword" value="" />
    <add key="smtpDomain" value="" />
    <add key="smtpPort" value="" />
  </appSettings>
</configuration>
