<appSettings>
  <add key="enableSimpleMembership" value="false"/>
  <add key="autoFormsAuthentication" value="false"/>
  
  <add key="aspnet:MaxHttpCollectionKeys" value="10000" />  
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="true" />
  
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.route" value="elmah" />


  <add key="endpointAdress" value="http://localhost:51711/Service.svc" />
</appSettings>