<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="logfile"
        xsi:type="File"
        fileName="${basedir}/logs/log.txt"
        archiveFileName="${basedir}/logs/log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="30"
        layout="${longdate}&#009;&#009;${level:uppercase=true}&#009;${logger}&#009;${message}&#009;${exception:format=ToString}"
        />
    </target>
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <target name="asyncFileNHibernate" xsi:type="AsyncWrapper">
      <target name="file"  xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} ${message} ${newline}"
            fileName="${basedir}/logs/NHibernate.log"
            archiveFileName="${basedir}/logs/NHibernate.{#####}.log"
            archiveAboveSize="100240"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" encoding="UTF-8"  createDirs="true" />
    </target>
    <target xsi:type="EventLog" name="eventLog" source="YouVote"
            layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} ${message} ${newline} ${exception:innerFormat=ToString:format=ToString}" />
  </targets>

  <rules>
    <logger name="nhibernate" minlevel="Error" writeTo="asyncFileNHibernate" final="true"/>
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
    <logger name="*" minlevel="Info" writeTo="eventLog" />
  </rules>
</nlog>
